@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor0: #000000;
    --cor1: #ffffff;

    --font-padrao: Arial, Helvetica, Verdana, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;

}

* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: var(--font-padrao);
    background-color: var(--cor1);

}

/* Cabeçalho */

.main-header {
    background-color: var(--cor1);
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 12px;

}

.icon {
    width: auto;
    height: 60px;

}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 10px;

}

.nav-menu a {
    text-decoration: none;
    color: #313131b6;
    font-weight: bolder;
    font-size: 0.90rem;
    transition: color 0.3s ease;

}

.nav-menu a:hover {
    background-color: #c7c7c7;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #000000;
}

.btn-comecar {
    background-color: #155DFC;
    border: 8px solid #155DFC;
    width: 90px;
    text-align: center;
    border-radius: 9px;

}

.btn-comecar a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;
    line-height: 2vh;

}

/* Conteúdo Principal */

.hero {
    position: absolute;
    width: 100%;
    height: 89vh;
    background-image: url("imagens/computer.jpg");
    background-size: cover;
    background-position: center;

}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}

.hero-text {
    width: 100%
}

.hero-text h1 {
    color: var(--cor1);
    font-family: var(--font-padrao);
    max-width: 800px;
    font-size: 90px

}

.hero-text p {
    color: rgb(240, 230, 230);
    font-size: calc(10px + 2vw);
    font-weight: normal;
    margin-top: 5%;
    margin-bottom: -5%;
}

/* Botão Inferior Page 1 */

#btn1 {
    display: inline;
    color: white;
    background-color: #155DFC;
    border: 18px solid #155DFC;
    outline: 2px solid #155DFC;
    width: 120px;
    text-align: center;
    justify-content: space-between;
    border-radius: 15px;
    text-decoration: none;
    margin-right: 50px;
}

#btn2 {
    display: inline;
    color: white;
    background-color: #272727;
    border: 18px solid #272727;
    outline: 2px solid gray;
    width: 120px;
    text-align: center;
    justify-content: space-between;
    border-radius: 15px;
    text-decoration: none;
}
